@{
    ViewBag.Title = "Home Page";
}
<div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
    .
    .
</div>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/IMG/im1.jpg" alt="aaaa   ">



                <div class="carousel-caption">

                </div>
            </div>



            <div class="item">

                <img src="~/IMG/im2.jpg" alt="aaadda   ">



                <div class="carousel-caption">

                </div>
            </div>

            <div class="item">

                <img src="~/IMG/im3.jpg" alt="aaadda   ">



                <div class="carousel-caption">

                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
<div class="row">
    <div class="col-md-4">
        <h2>University Profile</h2>
        <p>Don't want to end up like our Prime Minister in some Alentejo Prison?? Signup now and take care of your future!!!
        </p>
        <p><a class="btn btn-default" href="http://www.google.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>We are gender aware!</h2>
        <p>Do you identify as a rubber tire and feel sexually attracted to chairs and other weird stuff? NO WORRIES. We have you covered. Our Institution completely disregards the laws of Nature to provide you with a comfortable pronoumn to suit your ignorance level!!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Want to sound smart?</h2>
        <p>We guarantee your permanence in our school and as well as plenty of parties. Just apply for Dux!!</p>
        <p><a class="btn btn-default" href="https://aal.pt/">Learn more &raquo;</a></p>
    </div>
</div>